output.xlsx
~$output.xlsx

analyzefire.spec
build/


.venv
.vscode
__pycache__/
*.pyc
*.pyo

*.xlsx

APIData.txt
*.geojson

cache

*graphml*

.venv/
analyzefire.spec
build/

.env

dist*

client_secrets.json
token.json
sample-form-reader-395ab8f59999.json

Temp Additions/